<%

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        links: typeof links !== 'undefined' ? links : [],
        accordion: typeof accordion !== 'undefined' ? accordion : [],
    }
%>

<div class="container d-grid grid-4 grid-md-8 grid-xl-12">
    <div class="col-span-4 col-span-md-3">
        <%- include(`${component}/text/head-x3`, { text: props.title }) %>
        <div class="space-y-16">
            <% props.links.forEach((link)=> { %>
                <%- include( `${component}/links/link`, {
                    href: link.href,
                    label: link.label,
                    } ) %>
            <% }) %>
        </div>
    </div>
    <div class="col-span-4 col-span-md-5 col-xl-5-to-13">
        <% props.accordion.forEach((item)=> { %>
            <%- include( `${component}/accordion/accordion-item`, {
                idAccordion: item.idAccordion,
                idItem: item.idItem,
                label: item.label,
                content: item.content
            } ) %>
        <% }) %>
    </div>
</div>