<% 
/**
 * @required { src:String, size:String, alt:String } microillustration
 */

    const props = {
        icon: typeof icon !== 'undefined' ? icon : null,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        microillustration: microillustration,
    }
%>

<div class="icon-description icon-description-content">
    <%- include(`${component}/illustration/illustration`, {img: {src: props.microillustration.src, size: props.microillustration.size, alt: props.microillustration.alt}} ) %>
    <h5 class="icon-description-title m-0"><%- props.title -%></h5>
    <p class="icon-description-text body-light-gray-text"><%- props.text -%></p>
</div>