<% 
/**
 * @required { src:String, alt:String } microillustration
 */

    const props = {
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        microillustration: typeof microillustration !== 'undefined' ? microillustration : null,
        icon: typeof icon !== 'undefined' ? icon : null,
    }
%>

<div class="icon-description icon-description-content">
    <% if(props.microillustration) { %>
        <%- include(`${component}/illustration/illustration`, {img: {src: props.microillustration.src, size: 'microillustration', alt: props.microillustration.alt}} ) %>
    <% } %>
    <% if(props.icon) { %>
        <%- include(`${component}/icons/icon`, { icon: props.icon } ) %>
    <% } %>
    <h5 class="icon-description-title m-0"><%- props.title -%></h5>
    <p class="icon-description-text body-light-gray-text"><%- props.text -%></p>
</div>