<%

    const props = {
        icon: typeof icon !== 'undefined' ? icon : null,
        text: typeof text !== 'undefined' ? text : null,
        variant: typeof variant !== 'undefined' ? variant : 'left'
    }

    function validate(props) {
    const VARIANTS = ['left', 'center']
    if (!VARIANTS.includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
    }
}
    validate(props)
    const styles = {
        iconDescription: {
            variant: {
                toString: () => ('left' === props.variant ? 'icon-description-left' : `icon-description-${props.variant}`)
            }
        }
    }
%>

<div class="icon-description <%- styles.iconDescription.variant -%> space-y-16">
    <%- include(`${component}/icons/icon`, { icon: props.icon } ) %>
    <p class="icon-description-text body-light-gray-text"><%- props.text -%></p>
</div>