<% 
/**
 * @required { src:String, alt:String } img
 */

    const props = {
        icon: typeof icon !== 'undefined' ? icon : null,
        title: typeof title !== 'undefined' ? title : null,
        text: typeof text !== 'undefined' ? text : null,
        img: img,
    }
%>

<div class="icon-description icon-description-content icon-description-masked">
    <picture class="icon-description-img-container">
        <img class="icon-description-img" src="<%- `${image}/${props.img.src}` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <h5 class="icon-description-title m-0"><%- props.title -%></h5>
    <p class="icon-description-text body-light-gray-text"><%- props.text -%></p>
</div>