@use "sass:color";
@use "../helpers/const" as map;


$primary: (
  'blue': hsla(209, 100%, 45%, 1),
  'green': hsla(163, 100%, 31%, 1),
  'turquoise': hsla(191, 100%, 38%, 1),
);


$secondary: (
  blue-100: hsla(208, 100%, 97%, 1),
  blue-300: hsla(209, 100%, 86%, 1),
  blue-400: hsla(209, 100%, 62%, 1),
  blue-500: hsla(209, 100%, 38%, 1),
  blue-600: hsla(213, 100%, 31%, 1),
  green-100: hsla(162, 100%, 95%, 1),
  green-200: hsla(162, 91%, 91%, 1),
  green-300: hsla(162, 73%, 79%, 1),
  green-500: hsla(163, 100%, 27%, 1),
  turquoise-100: hsla(191, 100%, 96%, 1),
  turquoise-200: hsla(191, 100%, 92%, 1),
  turquoise-300: hsla(191, 92%, 83%, 1),
  turquoise-500: hsla(191, 100%, 34%, 1),
);


$_white: hsla(0, 0%, 100%, 1);
$_black: hsla(0, 0%, 0%, 1);
$grayscale: (
  'light': $_white,
  100: hsla(0, 0%, 96%, 1),
  200: hsla(0, 0%, 94%, 1),
  300: hsla(0, 0%, 91%, 1),
  400: hsla(0, 0%, 87%, 1),
  500: hsla(0, 0%, 70%, 1),
  600: hsla(0, 0%, 58%, 1),
  700: hsla(0, 0%, 49%, 1),
  800: hsla(0, 0%, 43%, 1),
  900: hsla(0, 0%, 27%, 1),
  1000: hsla(0, 0%, 23%, 1),
  1100: hsla(0, 0%, 17%, 1),
  1200: hsla(0, 0%, 13%, 1),
  1300: hsla(0, 0%, 8%, 1),
  'dark': $_black,
);

$opacity: (
  light-0: rgba($_white, .08),
  light-100: rgba($_white, .14),
  light-200: rgba($_white, .40),
  gray-100: rgba($_black, .0462),
  gray-200: rgba($_black, .14),
  gray-300: rgba($_black, .22),
  gray-400: rgba($_black, .35),
  gray-700: rgba($_black, .8003),
);

$_text: hsla(0, 0%, 0%, 1);
$body: (
  off: hsla(0, 0%, 0%, 1),
  23: hsla(0, 0%, 23%, 1),
  30: hsla(0, 0%, 30%, 1),
  38: hsla(0, 0%, 38%, 1),
  42: hsla(0, 0%, 42%, 1),
  49: hsla(0, 0%, 49%, 1),
  67: hsla(0, 0%, 67%, 1),
);

$button: (
  primary: map.find('blue', $primary),
  primary--hover: map.find(blue-500, $secondary),
  cta_icon: map.find(blue-500, $secondary),
  cta_icon--hover: map.find(blue-600, $secondary),
  secondary: map.find('green', $primary),
  secondary--hover: map.find(green-500, $secondary),
  disabled: map.find(100, $grayscale),
);

