<%
/**
 * @required { 
 *      img:{src:String, alt:String}, 
 *      title:String, 
 *      text:String
 *} slide
 */

props = {
    slide
}
%>

<div class="feature-card-content d-grid grid-4 grid-md-8 grid-xl-12 w-100">
        <div class="feature-card-wrapper col-span-4">
            <%- include( `${component}/card/basic`, {
                img: {
                    src: props.slide.img.src,
                    alt: props.slide.img.alt
                },
                title: props.slide.title,
                text: props.slide.text,
                isDarkened: props.slide.isDarkened
            } ) %>
        </div>
</div>