<%
    /**
    */
    const props = {
        label: typeof label !== 'undefined' ? label : '',
        icon: typeof icon !== 'undefined' ? icon : '',
        icon_position: typeof icon_position !== 'undefined' ? icon_position : 'before',
        variant: typeof variant !== 'undefined' ? variant : '',
        isRounded: typeof isRounded !== 'undefined' ? isRounded : false,
    }

    function validate( props ) {
        if( ! [ '', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'].includes( props.variant ) ) {
            throw new Error( `The variant ${props.variant} doesn't exists` )
        }
        // if(!'rounded'.includes(props.isRounded)) {
        //     throw new Error(`The type ${props.type} doesn't exists`)
        // }
    }
    validate( props )

    switch ( props.variant ) {
        case 'primary':
            props.variant = 'bg-primary';
            break;
        case 'secondary':
            props.variant = 'bg-secondary';
            break;
        case 'success':
            props.variant = 'bg-success';
            break;
        case 'danger':
            props.variant = 'bg-danger';
            break;
        case 'warning':
            props.variant = 'bg-warning text-dark';
            break;
        case 'info':
            props.variant = 'bg-info text-dark';
            break;
        case 'light':
            props.variant = 'bg-light text-dark';
            break;
        case 'dark':
            props.variant = 'bg-dark';
            break;
        default:
            props.variant = 'bg-primary';
            break;
    }
%>

<span class="badge <%= `${ props.isRounded ? 'rounded-pill' : '' } ${props.variant}` %>">

    <% if ( ( props.icon ) && ( 'before' === props.icon_position ) ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

    <% if ( '' !== props.label ) { %>
        <span><%= props.label %></span>
    <% } %>

    <% if ( ( props.icon ) && ( 'after' === props.icon_position ) ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

</span>
