<%
    const props = {
        label: typeof label !== 'undefined' ? label : '',
        icon: typeof icon !== 'undefined' ? icon : '',
        iconPosition: typeof iconPosition !== 'undefined' ? iconPosition : 'before',
        color: typeof color !== 'undefined' ? color : 'primary',
        isRounded: typeof isRounded !== 'undefined' ? isRounded : false,
    }

    function validate( props ) {
        if( ! [ 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark' ].includes( props.color ) ) {
            throw new Error( `The color ${props.color} doesn't exists` )
        }
    }
    validate( props )

	let cssColor
	cssColor = 'bg-' + props.color
	if ( [ 'warning', 'info', 'light' ].includes( props.color ) ) {
		cssColor = cssColor + ' text-dark'
	}
%>



<span class="badge <%= `${ props.isRounded ? 'rounded-pill' : '' } ${cssColor}` %>">

    <% if ( ( props.icon ) && ( 'before' === props.iconPosition ) ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

    <% if ( '' !== props.label ) { %>
        <span><%= props.label %></span>
    <% } %>

    <% if ( ( props.icon ) && ( 'after' === props.iconPosition ) ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

</span>
