<%
    /**
     * @required {string} label
     */

    const props = {
        label: label,
		href: typeof href !== 'undefined' ? href : '',
    }
%>

<% if ( '' !== props.href ) { %>
	<li class="breadcrumb-item"><a href="<%= props.href %>"><%= props.label %></a></li>
<% } else { %>
	<li class="breadcrumb-item active" aria-current="page"><%= props.label %></li>
<% } %>
