<%
    /**
    * @required {array} items
    */

    const props = {
        items: items,
    }

    function validate( props ) {
        const keys = props.items.map( ( item ) => Object.keys( item ).filter( ( key ) => ! [ 'label', 'href', 'active' ].includes( key ) ) ).flat()
        if ( 0 < keys.length ) {
            throw new Error( `The "${keys.join( ', ' )}" key/s is/are invalid` )
        }
    }
    validate( props )
%>

<nav aria-label="filter">
    <ul class="filter">
        <% props.items.forEach( ( item ) => { %>
            <%- include( `${component}/interaction/filter-item`, { ...item } ) %>
        <% } ) %>
    </ul>
</nav>
