<%
    /**
	* @required {string} label
	*/

    const props = {
        label: label,
        href: typeof href !== 'undefined' ? href : '',
        active: typeof active !== 'undefined' ? active : false,
    }
%>

<% if ( '' !== props.href ) { %>
    <li><a href="<%= props.href %>"<% if ( props.active ) {%> class="active"<% } %>><%= props.label %></a></li>
<% } else { %>
    <li><%= props.label %></li>
<% } %>
