<%
    /**
	* @required {string} label
	* @required {string} href
	*/

    const props = {
        label: label,
        href: typeof href !== 'undefined' ? href : '',
    }
%>

<a <%= ( '' !== props.href ) ? `href=${props.href}` : '' %>><%= props.label %></a>
