<%
    /**
    * @required {string} type
    * @required {string} icon
    */

    const props = {
        type: type,
        icon: icon,
        href: typeof href !== 'undefined' ? href : '#',
        isCondensed: typeof isCondensed !== 'undefined' ? isCondensed : false,
    }

    function validate( props ) {
        if( ! [ 'rounded', 'squared' ].includes( props.type ) ) {
            throw new Error( `The type ${props.type} doesn't exists` )
        }
    }
    validate( props )

    const data = {
        css: ''
    }

    if ( 'squared' === props.type ) {
        data.css = 'squared-button'
    } else if ( 'rounded' === props.type ) {
        data.css = 'rounded-button'
        data.css = props.isCondensed ? data.css + ' condensed' : data.css
    }
%>

<button href="<%= props.href %>"<%= ` class="${ data.css }"` %>>
    <i class="icon-<%= props.icon %>"></i>
</button>
