<%
    /**
     * @required {string} type
     * @required {string} icon
     * @required {string} href
     */
    const props = {
        type: type,
        icon: icon,
        href: typeof href !== 'undefined' ? href : '#',
        variant: typeof variant !== 'undefined' ? variant : '',
        isCondensed: typeof isCondensed !== 'undefined' ? isCondensed : false,
    }

    function validate( props ) {
        if( ! [ 'rounded', 'squared' ].includes( props.type ) ) {
            throw new Error( `The type ${props.type} doesn't exists` )
        }
    }
    validate( props )
%>

<button href="<%= props.href %>" class="<%= `${ 'squared' === props.type ? 'squared-button' : '' } ${ 'rounded' === props.type ? 'rounded-button' : '' } ${ 'rounded' === props.type && props.isCondensed ? 'condensed' : '' } ${props.variant}` %>">
    <i class="icon-<%= props.icon %>"></i>
</button>
