<%
    /**
     * @required {string} type
     * @required {string} icon
     * @required {string} href
     */

    const props = {
        type: type,
        icon: icon,
        href: typeof href !== 'undefined' ? href : '#',
		isCondensed: typeof isCondensed !== 'undefined' ? isCondensed : false,
    }

    function validate( props ) {
        if( ! [ 'rounded', 'squared' ].includes( props.type ) ) {
            throw new Error( `The type ${props.type} doesn't exists` )
        }
    }
    validate( props )

	if ( 'squared' === props.type ) {
		css = 'squared-button'
	} else if ( 'rounded' === props.type ) {
		css = 'rounded-button'
		css = props.isCondensed ? css + ' condensed' : css
	}
%>

<button href="<%= props.href %>" class="<%= css %>">
    <i class="icon-<%= props.icon %>"></i>
</button>
