<%
    /**
    * @required {array} type
    */

    const props = {
		type: type,
		label: typeof label !== 'undefined' ? label : '',
        icon: typeof icon !== 'undefined' ? icon : '',
        color: typeof color !== 'undefined' ? color : 'primary',
    }

    function validate( props ) {
        if( ! [ 'data', 'icon' ].includes( props.type ) ) {
            throw new Error( `The type ${props.type} doesn't exists` )
        }
		if( ! [ '', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark' ].includes( props.color ) ) {
            throw new Error( `The color ${props.color} doesn't exists ` )
        }
    }
    validate( props )

    const data = {
        background: ` bg-${ props.color }`,
        color: [ 'warning', 'info', 'light' ].includes( props.color ) ? ' text-dark' : ''
    }
%>

<div class="ribbon<%= data.background %><%= data.color %>">

    <% if ( ( 'data' === props.type ) && ( '' !== props.label ) ) { %>
        <span><%= props.label %></span>
    <% } %>

    <% if ( ( 'icon' === props.type ) && ( '' !== props.icon ) ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

</div>
