<%
    /**
    * @required {array} type
    */
    const props = {
		type: type,
		label: typeof label !== 'undefined' ? label : '',
        icon: typeof icon !== 'undefined' ? icon : '',
        variant: typeof variant !== 'undefined' ? variant : '',
    }

    function validate( props ) {
        if( ! [ 'data', 'icon' ].includes( props.type ) ) {
            throw new Error( `The type ${props.type} doesn't exists` )
        }
		if( ! [ '', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark' ].includes( props.variant ) ) {
            throw new Error( `The variant ${props.variant} doesn't exists ` )
        }
    }
    validate( props )

    switch ( props.variant ) {
        case 'primary':
            props.variant = 'bg-primary';
            break;
        case 'secondary':
            props.variant = 'bg-secondary';
            break;
        case 'success':
            props.variant = 'bg-success';
            break;
        case 'danger':
            props.variant = 'bg-danger';
            break;
        case 'warning':
            props.variant = 'bg-warning text-dark';
            break;
        case 'info':
            props.variant = 'bg-info text-dark';
            break;
        case 'light':
            props.variant = 'bg-light text-dark';
            break;
        case 'dark':
            props.variant = 'bg-dark';
            break;
        default:
            props.variant = 'bg-primary';
            break;
    }
%>

<div class="position <%= props.variant %>">

    <% if ( ( 'data' === props.type ) && ( '' !== props.label ) ) { %>
        <span><%= props.label %></span>
    <% } %>

    <% if ( ( 'icon' === props.type ) && ( '' !== props.icon ) ) { %>
        <i class="icon-<%= props.icon %>"></i>
    <% } %>

</div>
