<%
    const props = {
        type: typeof type !== 'undefined' ? type : 'border',
        color: typeof color !== 'undefined' ? color : '',
        isSmall: typeof isSmall !== 'undefined' ? '-sm' : '',
        hiddenLabel: typeof hiddenLabel !== 'undefined' ? hiddenLabel : 'Loading...',
    }

    function validate( props ) {
        if( ! [ 'border', 'grow' ].includes( props.type ) ) {
            throw new Error( `The type ${props.type} doesn't exists` )
        }
        if( ! [ '', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark' ].includes( props.color ) ) {
            throw new Error( `The color ${props.color} doesn't exists` )
        }
    }
    validate( props )

    if ( '' !== props.color ) {
        props.color = ` text-${props.color}`
    }
%>

<div class="spinner-<%= props.type %><%= props.isSmall %><%= props.color %>" role="status">
    <% if ( '' !== props.hiddenLabel ) { %>
        <span class="visually-hidden"><%= props.hiddenLabel %></span>
    <% } %>
</div>
