<%
    /**
    */
    const props = {
        variant: typeof variant !== 'undefined' ? variant : '',
        label_hidden: typeof label_hidden !== 'undefined' ? label_hidden : 'Loading...',
    }

    function validate( props ) {
        if( ! [ '', 'primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark' ].includes( props.variant ) ) {
            throw new Error( `The variant ${props.variant} doesn't exists` )
        }
    }
    validate( props )

    switch ( props.variant ) {
        case 'primary':
            props.variant = 'text-primary';
            break;
        case 'secondary':
            props.variant = 'text-secondary';
            break;
        case 'success':
            props.variant = 'text-success';
            break;
        case 'danger':
            props.variant = 'text-danger';
            break;
        case 'warning':
            props.variant = 'text-warning';
            break;
        case 'info':
            props.variant = 'text-info';
            break;
        case 'light':
            props.variant = 'text-light';
            break;
        case 'dark':
            props.variant = 'text-dark';
            break;
        default:
            props.variant = 'text-primary';
            break;
    }
%>

<div class="spinner-border <%= props.variant %>" role="status">
    <% if ( '' !== props.label_hidden ) { %>
        <span class="visually-hidden"><%= props.label_hidden %></span>
    <% } %>
</div>
