<%
/**
 * @required {string} id
 */

const props = {
    id: id,
    label: typeof label !== 'undefined' ? label : ''
}
%>

<div class="form-check form-switch">
    <input class="form-switch-input bg-transition" type="checkbox" id="<%= props.id %>">
    <div class="form-switch-wrapper">
        <span class="form-switch-dot"></span>
    </div>
</div>
