<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: false,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<div class="main-content main-content-space-top">
    <section>
        <%- include(`${component}/marquee/illustration`, { 
            illustration: {
                src: 'skyscraper',
                size: 'scenes',
                alt: 'Marquee image'
            },
            title: 'Design brings prosperity',
            text: 'We help organizations take their digital product to the maximum poin, based on data and user behavior.',
            btn: {
                label: 'Know more',
                variant: 'tertiary',
                isTransparent: true
            },
            quote: 'People ignore design that ignores people',
            backgroundColor: 'success'
        }) %>
    </section>
</div>