<%
/** 
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

 const props = {
    title: typeof title !== 'undefined' ? title : null,
    btn: btn,
 }
%>

<div class="cta module container space-y-32 bg-transparent">
    <p class="cta-title x7-text text-center"><%= props.title %></p>
    <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
</div>