<%
/** 
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

 const props = {
    title: typeof title !== 'undefined' ? title : null,
    btn: btn,
    isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false
 }

 const styles = {
    cta: {
        darkened: {
            toString: () => (props.isDarkened ? 'darkened' : '')
        }
    }
}

%>

<div class="cta <%- styles.cta.darkened -%> space-y-32 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
    <h5 class="cta-title"><%= props.title %></h5>
    <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
</div>