<header class="header-light header-fixed" data-b-system="narrower">
    <nav class="navbar navbar-right navbar-expand-lg">
        <a href="<%=QUICK_START.HOME%>" class="header__logo header__logo-dark">
            <img src="<%=image%>logo-dark.svg" class="logo" alt="b system logo"/>
        </a>

        <div class="purchase-button-wrapper" data-b-system="narrow-button-wrapper">
            <button class="btn btn-only-icon d-lg-none icon-cart" type="button"></button>
            <button class="btn btn-primary d-none d-lg-block">Purchase B_System</button>
        </div>

        <button class="btn btn-only-icon navigation-toggle icon-menu-mobile"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#navigation-bar"
                aria-controls="navigation-bar"
                aria-label="Toggle navigation">
        </button>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../../home/index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="demos-dropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">Demos</a>
                <ul class="dropdown-menu" aria-labelledby="demos-dropdown">
                    <li><a class="dropdown-item" href="#">Startup</a></li>
                    <li><a class="dropdown-item" href="#">Demo 2</a></li>
                    <li><a class="dropdown-item" href="#">Demo 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="modules-dropdown"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">Modules</a>
                <ul class="dropdown-menu" aria-labelledby="modules-dropdown">
                    <li><a class="dropdown-item" href="../../modules/headers/index.html">Headers</a></li>
                    <li><a class="dropdown-item" href="#">Sliders</a></li>
                    <li><a class="dropdown-item" href="<%=QUICK_START.FOOTERS.BASIC%>">Footers</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active"
                   href="#"
                   id="components-dropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">Components</a>
                <div class="dropdown-menu header-menu" aria-labelledby="components-dropdown">
                    <div class="header-menu-wrapper">
                        <ul class="menu-list">
                            <li class="list-title">
                                <b>Atoms</b>
                            </li>
                            <li><a class="dropdown-item active" href="#">Buttons</a></li>
                            <li><a class="dropdown-item" href="#">Forms</a></li>
                            <li><a class="dropdown-item" href="#">Switches</a></li>
                        </ul>
                        <ul class="menu-list">
                            <li class="list-title">
                                <b>Molecules</b>
                            </li>
                            <li><a class="dropdown-item" href="../../modules/headers/index.html">Headers</a></li>
                            <li><a class="dropdown-item" href="#">Sliders</a></li>
                            <li><a class="dropdown-item" href="<%=QUICK_START.FOOTERS.BASIC%>">Footers</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Transitions</a>
            </li>
        </ul>
    </nav>

    <div class="offcanvas offcanvas-start d-block d-lg-none" id="navigation-bar" tabindex="-1"
         data-b-system="navbar-nav">
        <div class="offcanvas-header">
            <button class="btn btn-only-icon icon-blade"
                    type="button"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
            </button>
        </div>
    </div>
</header>
