<%
    /**
     * @required {array} items
      */
    const props = {
      items: items
    }
%>

<header class="header-light header-fixed" data-b-system="narrower">
    <nav class="navbar navbar-right navbar-expand-lg">
        <a href="<%=QUICK_START.HOME%>" class="header__logo header__logo-dark">
            <img src="<%=image%>/logo-dark.svg" class="logo" alt="b system logo"/>
        </a>

        <div class="purchase-button-wrapper" data-b-system="narrow-button-wrapper">
            <button class="btn btn-only-icon d-lg-none icon-cart" type="button"></button>
            <button class="btn btn-primary d-none d-lg-block">Purchase B_System</button>
        </div>

        <button class="btn btn-only-icon navigation-toggle icon-menu-mobile"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#navigation-bar"
                aria-controls="navigation-bar"
                aria-label="Toggle navigation">
        </button>

        <%- include(`${component}/navbar/nav`,{ items: props.items })%>
    </nav>

    <div class="offcanvas offcanvas-start d-block d-lg-none" id="navigation-bar" tabindex="-1"
         data-b-system="navbar-nav">
        <div class="offcanvas-header">
            <button class="btn btn-only-icon icon-blade"
                    type="button"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
            </button>
        </div>
    </div>
</header>
