<%

const props = {
    columns: typeof columns !== 'undefined' ? columns : [],
}

%>

<div class="basic-content basic-content-arguments d-grid grid-1 grid-md-2 grid-xl-3 inner-space-inline-16 inner-space-inline-md-80 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
    <% props.columns.forEach((column)=> { %>
    <div class="basic-content-arguments-column space-y-24">
        <h2 class="basic-content-title"><%- column.title -%></h2>
        <p class="basic-content-text body-light-gray-text"><%- column.text -%></p>
    </div>
    <% }) %>
</div>