<%

const props = {
    title: typeof title !== 'undefined' ? title : null,
}

%>

<div class="basic-content d-grid grid-xl-12 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
    <h2 class="basic-content-title col-xl-2-to-12"><%- props.title -%></h2>
</div>