<%

const props = {
    title: typeof title !== 'undefined' ? title : null,
}

%>

<div class="basic-content d-flex inner-space-inline-16 inner-space-inline-md-80 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88 inner-space-block-xxl-120">
    <h2 class="basic-content-title"><%- props.title -%></h2>
</div>