<%

const props = {
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null
}

%>

<div class="basic-content basic-content-description d-flex space-y-24 space-y-md-32 space-y-xl-40 inner-space-inline-16 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
    <h3 class="basic-content-title"><%- props.title -%></h3>
    <p class="basic-content-text body-light-gray-text"><%- props.text -%></p>
</div>