<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: false,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<div class="main-content main-content-space-top">
    <section >
        <%- include(`${module}/marquee/textImage`, { 
            img: {
                src: 'marquee_textimage-01',
                alt: 'Marquee image'
            },
            title: 'We are a new concept of digital studio, we create disruptive',
            btn: {
                label: 'Start with B System', 
                isCTA: true, 
                icon: 'links', 
                iconPosition: 'after' 
            },
            quote: '“People ignore design that ignores people”',
            isDarkened: true
        }) %>
    </section>
</div>