<%
/**
 * @required { src:String, alt:String } img
 * @required { label:String, isCTA:Boolean, icon:String, iconPosition:String } btn
 */

    const props = {
        img: img,
        title: typeof title !== 'undefined' ? title : null,
        btn: btn,
    }
%>

<div class="marquee space-y-32">
    <picture>
        <img class="marquee-bg" src="<%- `${image}/marquee/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <h1 class="marquee-title text-white"><%= props.title %></h1>
    <%- include(`${component}/button/button`, { label: props.btn.label, isCTA: props.btn.isCTA, icon: props.btn.icon, iconPosition: props.btn.iconPosition }) %>
</div>