<%

    const props = {
        socials: typeof socials !== 'undefined' ? socials : []
    }

%>

<div class="icons-social">
    <% props.socials.forEach((social) => { %>
        <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: social}) -%>
    <% }) %>
</div>