<%

    const props = {
        socials: typeof socials !== 'undefined' ? socials : [],
        isDarkened,
        isDark,
        hasBorder
    }

    const styles = {
        iconSocial: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.isDark ? 'section-divider' : '')
            }
        }
    }
%>
%>
<div class="module <%- styles.iconSocial.border -%> <%- styles.iconSocial.darkened -%>" <%- styles.iconSocial.dark -%>>
    <div class="icons-social">
        <% props.socials.forEach((social) => { %>
            <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: social}) -%>
        <% }) %>
    </div>
</div>