<%

    const props = {
        socials: typeof socials !== 'undefined' ? socials : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        iconSocial: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }

%>
<section class="section section-divider <%- styles.iconSocial.darkened -%>" <%- styles.iconSocial.dark -%>>
    <div class="container">
        <div class="icons-social">
            <% props.socials.forEach((social) => { %>
                <%- include(`${component}/button/button`, { isOnlyIcon: true, icon: social}) -%>
            <% }) %>
        </div>
    </div>
</section>