<%
    /**
     * @required {string} label
     */

    const props = {
        label: label,
        href: typeof href !== 'undefined' ? href : '',
    }
%>

<div class="form-text form-info">
    <i class="icon-info"></i>
    <span>

        <% if ( '' !== props.href ) { %>
            <a href="<%= props.href %>">
        <% } %>

            <%= props.label %>

        <% if ( '' !== props.href ) { %>
            </a>
        <% } %>

    </span>
</div>
