<%
    /**
     * @required {string} label
     * @required {string} value
     */

    const props = {
        label: label,
        value: value,
        selected: typeof selected !== 'undefined' ? 'selected' : '',
    }

    function validate( props ) {
        if( ! 'selected'.includes( props.selected ) ) {
            throw new Error( `The variant ${props.selected} doesn't exists` )
        }
    }
    validate( props )
%>

<option value="<%= props.value %>" <%= props.selected %>><%= props.label %></option>
