<%

    const props = {
        columns: typeof columns !== 'undefined' ? columns : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        iconDescription: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="module <%- styles.iconDescription.border -%> <%- styles.iconDescription.darkened -%>" <%- styles.iconDescription.dark -%>>
    <div class="container d-grid grid-4 grid-md-8 grid-xl-12">
        <% props.columns.forEach((column)=> { %>
            <div class="col-span-4 col-span-md-8 col-span-xl-4">
                <%- include(`${component}/iconDescription/content`, { 
                    microillustration: {
                        src: column.microillustration.src,
                        alt: column.microillustration.alt
                    },
                    title: column.title,
                    text: column.text
                    } )
                %>
            </div>
        <% }) %>
    </div>
</div>