<%
     const props= {
         paginationColor: typeof paginationColor !== 'undefined' ? paginationColor : 'light'
     }

     const styles = {
         color: {
             toString:()=> {
                 return props.paginationColor === 'dark' ? 'pagination-dark' : ''
             }
         }
     }
 %>
<!-- end: swiper slide -->
</div>
    <div class="swiper-pagination <%- styles.color -%>"></div>
</div>