<%
 const props = {
    title,
    services
}

%>

<section class="services section">
    <h3 class="contact-title text-center"><%- props.title -%></h3>
    <% props.services.forEach((service)=> { %>
        <%- include( `${component}/card/service`, {
            titleService: service.title,
            text: service.text,
            tag: service.tag,
            img: {
                src: service.img.src,
                alt: service.img.alt,
            },
            link: {
                href: service.link.href,
                label: service.link.label,
                icon: service.link.icon
            }
        }) %>
    <% }) %>
</section>