<%
/**
 * @required {href:String, label:String, icon:String } link
*/

    const props = {
        icon: typeof icon !== 'undefined' ? icon : null,
        text: typeof text !== 'undefined' ? text : null,
        link: typeof link !== 'undefined' ? link : null,
        variant: typeof variant !== 'undefined' ? variant : 'basic'
    }

    function validate(props) {
        const VARIANTS = ['info', 'error', 'advice', 'basic', 'link']
        if (!VARIANTS.includes(props.variant)) {
            throw new Error(`The variant ${props.variant} doesn't exists`)
        }
    }

    validate(props)
    const styles = {
        alert: {
            variant: {
                toString: () => ('info' === props.variant ? 'alert-info' : `alert-${props.variant}`)
            }
        }
    }

%>

<div class="alert <%- styles.alert.variant -%> space-y-24">
    <% if(props.variant !== 'link') { %>
        <%- include(`${component}/icons/icon`, { icon: props.icon } ) %>
        <p class="alert-text body-light-gray-text"><%- props.text -%></p>
    <% } 
    if(props.variant == 'link') { %>
        <%- include( `${component}/links/link`, {
            href: props.link.href,
            label: props.link.label,
            icon: props.link.icon,
            iconPosition: 'before'
        } ) %>
    <% } %>

</div>