<%
    /**
     * @required {string} label
     */
    const props = {
        label: label,
        href: typeof href !== 'undefined' ? href : '',
        variant: typeof variant !== 'undefined' ? variant : 'info',
        isCTA: typeof isCTA !== 'undefined' ? isCTA : false,
        icon: typeof icon !== 'undefined' ? icon : ''
    }

    function validate(props) {
      if(!['info', 'error', 'advice', 'primary', 'link'].includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
      }
    }
    validate(props)
%>

<div class="alert <%= `alert-${props.variant} ${ props.isCTA ? 'alert-primary-cta' : '' }` %>" role="alert">
    <% if( (props.icon ) ) { %>
        <span class="<%= `icon-${props.icon}` %>"></span>
    <% } %>
    <div class="content">
        <% if( (props.href !== '') ) { %>
            <a href="<%= props.href %>">
        <% } %>
        <%= props.label %>
        <% if( (props.href !== '') ) { %>
            </a>
        <% } %>
    </div>
</div>
