<%
/**
 * @requires {string} id
 * @requires {string} label
 */
const props = {
    id,
    label
}
%>

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="<%- props.id -%>">
    <%- include(`${component}/icons/icon`, { icon: 'done' } ) %>
    <label class="form-check-label" for="<%- props.id -%>">
        <%- props.label -%>
    </label>
</div>
