<%
/**
 * @requires {string} icon
 * @requires {string} text
 */
const props = {
    icon,
    text
}
%>

<div class="form-hint">
    <%- include(`${component}/icons/icon`, { icon: props.icon } ) -%>
    <p><%- props.text -%></p>
</div>
