<%
    const props = {
        icon: typeof icon !== 'undefined' ? icon : null,
        text: typeof text != 'undefined' ? text : null
    }
%>

<div class="form-info d-flex align-items-center space-x-8">
        <%- include(`${component}/icons/icon`, { icon: props.icon } ) -%>
        <p class="body-light-gray-text"><%- props.text -%></p>
</div>