<%
/**
 * @requires {string} id
 * @requires {string} label
 */
const props = {
    id,
    label
}
%>

<div class="form-check">
    <input class="form-check-input" type="radio" value="" id="<%- props.id -%>">
    <span class="dot"></span>
    <label class="form-check-label" for="<%- props.id -%>">
        <%- props.label -%>
    </label>
</div>
