<%
/**
 *
 * @requires string id
 * @requires string label
 */
const props = {
    id: id,
    label: typeof label !== 'undefined' ? label : null,
}
%>


<div class="form-floating">
    <label for="<%- props.id -%>" class="form-placeholder"><%- props.label -%></label>
    <textarea id="<%- props.id -%>" class="form-control"></textarea>
    
</div>
