<%
    /**
    * @required {array} idAccordion
    * @required {array} items
    */

    const props = {
        idAccordion: idAccordion,
        items: items,
    }

    function validate( props ) {
        const keys = props.items.map( ( item ) => Object.keys( item ).filter( ( key ) => ! [ 'idItem', 'label', 'content', 'isOpen' ].includes( key ) ) ).flat()
        if ( 0 < keys.length ) {
            throw new Error( `The "${keys.join( ', ' )}" key/s is/are invalid` )
        }
    }
    validate( props )
%>

<div id="<%= props.idAccordion %>" class="accordion">
    <% props.items.forEach( ( item ) => { %>
        <%- include( `${component}/accordion/accordion-item`, { idAccordion, ...item } ) %>
    <% } ) %>
</div>
