/**
 * Demo
 *
 */

.demo-title {
    margin: 88px 0;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: .37px;
}

div[class|="demo-grid"] {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
}

.demo-grid-size--96 { grid-template-columns: repeat( auto-fill, minmax( 96px, 1fr ) ); }
.demo-grid-size--120 { grid-template-columns: repeat( auto-fill, minmax( 120px, 1fr ) ); }
.demo-grid-size--180 { grid-template-columns: repeat( auto-fill, minmax( 180px, 1fr ) ); }
.demo-grid-size--280 { grid-template-columns: repeat( auto-fill, minmax( 280px, 1fr ) ); }
.demo-grid-size--360 { grid-template-columns: repeat( auto-fill, minmax( 360px, 1fr ) ); }
.demo-grid-size--560 { grid-template-columns: repeat( auto-fill, minmax( 560px, 1fr ) ); }

div[class|="demo-grid"].demo-grid-gap--4 { grid-gap: 4rem; }
div[class|="demo-grid"].demo-grid-gap--6 { grid-gap: 6rem; }
div[class|="demo-grid"].demo-grid-gap--8 { grid-gap: 8rem; }

.demo-cell {}

.demo-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-boxes .demo-element {
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03);
}

.demo-boxesless .demo-element {
    display: block;
    /* padding: 32px; */
}

.demo-label {
    margin-top: 24px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .3px;
    color: #6e6e6e;
}

.demo-boxes .demo-label {
    margin-left: 8px;
}


/**
 * General
 *
 */

section.section {
    background-color: #f6f6f6;
}


/**
 * Pages
 *
 */

[class^="icon-"]::before,
[class*=" icon-"]::before {
    font-size: 32px;
}