@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
  /*
   * FONTS
   */
  --fs-xxl: 4rem;
  --fs-xl: 2.5rem;
  --fs-lg: 1.75rem;
  --fs-md: 1.375rem;
  --fs-sm: 1.125rem;
  --fs-xs: 0.9375rem;
  --fs-xxs: 0.6875rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-playfair: 'Playfair Display', serif;
  --ff-code: 'JetBrains Mono', monospace;
  /*
  * COLOURS
  */
  --c-primary__blue: #0077e6;
  --c-primary__green: #009e71;
  --c-primary__turquoise: #009ec2;
  --c-secondary__blue-100: aliceblue;
  --c-secondary__blue-300: #b8dcff;
  --c-secondary__blue-400: #3da1ff;
  --c-secondary__blue-500: #0064c2;
  --c-secondary__blue-600: #00479e;
  --c-secondary__green-100: #e6fff7;
  --c-secondary__green-200: #d3fdf0;
  --c-secondary__green-300: #a2f1d9;
  --c-secondary__green-500: #008a63;
  --c-secondary__turquoise-100: #ebfbff;
  --c-secondary__turquoise-200: #d6f8ff;
  --c-secondary__turquoise-300: #acedfc;
  --c-secondary__turquoise-500: #008ead;
  --c-opacity__light-0: rgba(255, 255, 255, 0.08);
  --c-opacity__light-100: rgba(255, 255, 255, 0.14);
  --c-opacity__light-200: rgba(255, 255, 255, 0.4);
  --c-opacity__gray-100: rgba(0, 0, 0, 0.0462);
  --c-opacity__gray-200: rgba(0, 0, 0, 0.14);
  --c-opacity__gray-300: rgba(0, 0, 0, 0.22);
  --c-opacity__gray-400: rgba(0, 0, 0, 0.35);
  --c-opacity__gray-700: rgba(0, 0, 0, 0.8003);
  --c-grayscale__light: white;
  --c-grayscale__100: whitesmoke;
  --c-grayscale__200: #f0f0f0;
  --c-grayscale__300: #e8e8e8;
  --c-grayscale__400: #dedede;
  --c-grayscale__500: #b3b3b3;
  --c-grayscale__600: #949494;
  --c-grayscale__700: #7d7d7d;
  --c-grayscale__800: #6e6e6e;
  --c-grayscale__900: #454545;
  --c-grayscale__1000: #3b3b3b;
  --c-grayscale__1100: #2b2b2b;
  --c-grayscale__1200: #212121;
  --c-grayscale__1300: #141414;
  --c-grayscale__dark: black;
  --c-body__off: black;
  --c-body__23: #3b3b3b;
  --c-body__30: #4d4d4d;
  --c-body__38: #616161;
  --c-body__42: #6b6b6b;
  --c-body__49: #7d7d7d;
  --c-body__67: #ababab;
  --c-button__primary: #0077e6;
  --c-button__primary--hover: #0064c2;
  --c-button__cta_icon: #0064c2;
  --c-button__cta_icon--hover: #00479e;
  --c-button__secondary: #009e71;
  --c-button__secondary--hover: #008a63;
  --c-button__disabled: whitesmoke;
  /*
   * SPACING
   */
  --s-space__4: 0.25rem;
  --s-space__8: 0.5rem;
  --s-space__16: 1rem;
  --s-space__24: 1.5rem;
  --s-space__32: 2rem;
  --s-space__40: 2.5rem;
  --s-space__48: 3rem;
  --s-space__56: 3.5rem;
  --s-space__64: 4rem;
  --s-space__72: 4.5rem;
  --s-space__80: 5rem;
  --s-space__88: 5.5rem;
  --s-space__96: 6rem;
}

@font-face {
  font-family: "b-system";
  src: url("../icons/b_icons/b-system.eot");
  src: url("../icons/b_icons/b-system.eot?#iefix") format("embedded-opentype"), url("../icons/b_icons/b-system.woff") format("woff"), url("../icons/b_icons/b-system.ttf") format("truetype"), url("../icons/b_icons/b-system.svg#b-system") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "b-system" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "b-system" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatar:before {
  content: "a";
}

.icon-n-1:before {
  content: "b";
}

.icon-award:before {
  content: "d";
}

.icon-n-2:before {
  content: "e";
}

.icon-blade:before {
  content: "f";
}

.icon-n-3:before {
  content: "g";
}

.icon-calendar:before {
  content: "h";
}

.icon-n-4:before {
  content: "i";
}

.icon-call:before {
  content: "j";
}

.icon-n-5:before {
  content: "k";
}

.icon-cart:before {
  content: "l";
}

.icon-n-6:before {
  content: "m";
}

.icon-chart:before {
  content: "n";
}

.icon-next-mini:before {
  content: "o";
}

.icon-back-mini:before {
  content: "p";
}

.icon-close-mini:before {
  content: "q";
}

.icon-open-mini:before {
  content: "r";
}

.icon-check:before {
  content: "s";
}

.icon-close-blade:before {
  content: "t";
}

.icon-document:before {
  content: "u";
}

.icon-document-load:before {
  content: "v";
}

.icon-edit:before {
  content: "w";
}

.icon-edit-content:before {
  content: "x";
}

.icon-download:before {
  content: "y";
}

.icon-upload:before {
  content: "z";
}

.icon-dart-back:before {
  content: "A";
}

.icon-dart-next:before {
  content: "B";
}

.icon-down:before {
  content: "C";
}

.icon-done:before {
  content: "D";
}

.icon-error:before {
  content: "E";
}

.icon-eye:before {
  content: "F";
}

.icon-filters:before {
  content: "G";
}

.icon-folder:before {
  content: "H";
}

.icon-garbage:before {
  content: "I";
}

.icon-hear:before {
  content: "J";
}

.icon-home:before {
  content: "K";
}

.icon-mage:before {
  content: "L";
}

.icon-info:before {
  content: "M";
}

.icon-less:before {
  content: "N";
}

.icon-more:before {
  content: "O";
}

.icon-lock:before {
  content: "P";
}

.icon-logout:before {
  content: "Q";
}

.icon-magnifying-glass:before {
  content: "R";
}

.icon-menu-mobile:before {
  content: "S";
}

.icon-message:before {
  content: "T";
}

.icon-microphone:before {
  content: "U";
}

.icon-more-less:before {
  content: "V";
}

.icon-place-holder:before {
  content: "W";
}

.icon-rain:before {
  content: "X";
}

.icon-refresh:before {
  content: "Y";
}

.icon-secure:before {
  content: "Z";
}

.icon-settings:before {
  content: "0";
}

.icon-shopping:before {
  content: "1";
}

.icon-sun:before {
  content: "2";
}

.icon-upgrade:before {
  content: "3";
}

.icon-purse:before {
  content: "4";
}

.icon-saving:before {
  content: "5";
}

.icon-transfer:before {
  content: "6";
}

.icon-transfer-destination:before {
  content: "7";
}

.icon-awards-circle:before {
  content: "8";
}

.icon-behance:before {
  content: "9";
}

.icon-check-circle:before {
  content: "!";
}

.icon-component-circle:before {
  content: '"';
}

.icon-dollar:before {
  content: "#";
}

.icon-google-circle:before {
  content: "$";
}

.icon-image-circle:before {
  content: "%";
}

.icon-interaction-circle:before {
  content: "&";
}

.icon-linkedin:before {
  content: "'";
}

.icon-marquee:before {
  content: "(";
}

.icon-paint-circle:before {
  content: ")";
}

.icon-pencil-circle:before {
  content: "*";
}

.icon-people:before {
  content: "+";
}

.icon-pinterest:before {
  content: ",";
}

.icon-purse-circle:before {
  content: "-";
}

.icon-responsive-circle:before {
  content: ".";
}

.icon-saving-circle:before {
  content: "/";
}

.icon-star:before {
  content: ":";
}

.icon-transfer-circle:before {
  content: ";";
}

.icon-twitter:before {
  content: "<";
}

.icon-whatsapp:before {
  content: "=";
}

.icon-menu:before {
  content: "?";
}

.icon-same:before {
  content: "@";
}

.icon-bullets:before {
  content: "]";
}

.icon-grid:before {
  content: "{";
}

.icon-matrix:before {
  content: "|";
}

.icon-youtube:before {
  content: "}";
}

.icon-btn-arrow:before {
  content: "c";
}

h1 {
  font-size: var(--fs-xxl);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-xl);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-lg);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
}

h4 {
  font-size: var(--fs-md);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
}

h5 {
  font-size: var(--fs-md);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-light);
}

.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item .nav-link.active {
  font-size: var(--fs-sm);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
}

.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: var(--fs-sm);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-light);
}

label.--small,
span.label.--small {
  font-size: var(--fs-xxs);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-light);
}

header.header-transparent nav.navbar .navbar-nav .nav-item > a.active, header nav.navbar .navbar-nav .nav-item > a.active, .btn, .btn > span:not([class^=icon-]), b {
  font-size: var(--fs-xs);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
}

.footer .links-wrapper .title {
  font-size: var(--fs-xs);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-medium);
}

.footer .links-wrapper li:not(.title), header.header-transparent nav.navbar .navbar-nav .nav-item > a, header nav.navbar .navbar-nav .nav-item > a, .offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item, .nav-item.dropdown .dropdown-menu .dropdown-item, a.action-link, .btn-action-next span:not([class^=icon-]), .btn-action-previous span:not([class^=icon-]), body, p,
span {
  font-size: var(--fs-xs);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-regular);
}

.footer.footer-corporate .copy-wrapper p.copy, label,
span.label {
  font-size: var(--fs-xs);
  font-family: var(--ff-roboto);
  font-weight: var(--fw-light);
}

[data-b-system=dark-mode] {
  background-color: var(--c-grayscale__1100);
}
[data-b-system=dark-mode] h1 {
  color: var(--c-grayscale__light);
}
[data-b-system=dark-mode] h2 {
  color: var(--c-grayscale__light);
}
[data-b-system=dark-mode] h3 {
  color: var(--c-grayscale__light);
}
h1 {
  color: var(--c-body__off);
}

h2 {
  color: var(--c-body__off);
}

h3 {
  color: var(--c-body__off);
}

label,
span.label {
  color: var(--c-body__38);
}
svg {
  width: inherit;
  height: inherit;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.tooltip-inner {
  line-height: 1.5;
  max-width: 15.625rem;
  padding-block: var(--s-space__8);
  padding-inline: var(--s-space__16);
  color: var(--c-grayscale__light);
  text-align: center;
  background-color: var(--c-grayscale__1000);
  border-radius: 0.25rem;
}

.bs-tooltip-top, .bs-tooltip-auto[data-popper-placement^=top] {
  padding: 0.4rem 0;
}

.bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
  bottom: 0;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  top: -1px;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: var(--c-grayscale__1000);
}

.bs-tooltip-end, .bs-tooltip-auto[data-popper-placement^=right] {
  padding: 0 0.4rem;
}

.bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  right: -1px;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: var(--c-grayscale__1000);
}

.bs-tooltip-bottom, .bs-tooltip-auto[data-popper-placement^=bottom] {
  padding: 0.4rem 0;
}

.bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
  top: 0;
}

.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  bottom: -1px;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: var(--c-grayscale__1000);
}

.bs-tooltip-start, .bs-tooltip-auto[data-popper-placement^=left] {
  padding: 0 0.4rem;
}

.bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  left: -1px;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: var(--c-grayscale__1000);
}

.btn {
  padding-inline: var(--s-space__32);
  padding-block: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  line-height: var(--s-space__24);
  transition: all 0.25s;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn > *:not(:last-child) {
  margin-right: 0.5rem;
}
.btn > [class^=icon-] {
  display: flex;
  font-size: 1.125rem;
}
.btn-primary {
  background-color: var(--c-button__primary);
  color: var(--c-grayscale__light);
  min-width: 13.5rem;
}
.btn-primary > *:not(:last-child) {
  margin-right: 0.75rem;
}
.btn-primary.btn-only-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: min-content;
  padding-inline: 0.875rem;
  padding-block: 0.875rem;
  line-height: 1;
  font-size: var(--fs-sm);
}
.btn-primary.btn-primary-cta > [class^=icon-] {
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  line-height: 1;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  background-color: var(--c-button__cta_icon);
  transform: translateX(0);
  transition: transform 0.25s ease-in;
}
.btn-primary:hover:not(:disabled) {
  background-color: var(--c-button__primary--hover);
}
.btn-primary:hover:not(:disabled).btn-primary-cta > [class^=icon-] {
  background-color: var(--c-button__cta_icon--hover);
  transform: translateX(0.25rem);
}
.btn-secondary {
  background-color: var(--c-button__secondary);
}
.btn-secondary:hover:not(:disabled) {
  background-color: var(--c-button__secondary--hover);
}
.btn-tertiary {
  background-color: var(--c-grayscale__100);
  color: var(--c-body__off);
}
.btn-tertiary:hover:not(:disabled) {
  background-color: var(--c-grayscale__200);
}
.btn-subtle {
  background-color: transparent;
  color: var(--c-body__off);
  border: 0.0625rem solid var(--c-grayscale__200);
}
.btn-subtle:hover:not(:disabled) {
  background-color: transparent;
  border: 0.0625rem solid var(--c-grayscale__400);
}
.btn-glass {
  background-color: var(--c-opacity__light-100);
  backdrop-filter: blur(0.5625rem);
  color: var(--c-grayscale__light);
}
.btn-glass:hover:not(:disabled) {
  color: var(--c-grayscale__light);
  background-color: var(--c-opacity__light-0);
}
.btn-glass:disabled {
  cursor: not-allowed;
  color: var(--c-opacity__light-200);
}
.btn-narrow {
  padding-block: var(--s-space__8);
  min-width: 12rem;
}
.btn-fit {
  min-width: auto;
  width: min-content;
}
.btn-action-next [class^=icon-], .btn-action-previous [class^=icon-] {
  transition: transform 0.35s ease-in-out;
}
.btn-action-next:hover:not(:disabled) [class^=icon-] {
  transform: translateX(0.25rem);
}
.btn-action-previous:hover:not(:disabled) [class^=icon-] {
  transform: translateX(-0.25rem);
}
.btn:disabled {
  cursor: not-allowed;
  background-color: var(--c-button__disabled);
  color: var(--c-opacity__gray-400);
  opacity: 1;
  pointer-events: auto;
}
.btn-only-icon {
  width: 2rem;
  height: 2rem;
  font-size: 1.125rem;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: var(--c-grayscale__dark);
}
.btn-only-icon:before {
  display: flex;
  margin: auto;
  width: min-content;
  height: min-content;
}
.btn-only-icon:focus {
  box-shadow: none;
}

/* DARK MODE */
[data-b-system=dark-mode] .btn-tertiary {
  background-color: var(--c-grayscale__900);
  color: var(--c-grayscale__light);
}
[data-b-system=dark-mode] .btn-tertiary:hover:not(:disabled) {
  background-color: var(--c-grayscale__1000);
}
[data-b-system=dark-mode] .btn-tertiary.transparent {
  background-color: var(--c-opacity__light-100);
}
[data-b-system=dark-mode] .btn-tertiary.transparent:hover:not(:disabled) {
  background-color: var(--c-opacity__light-0);
}
[data-b-system=dark-mode] .btn-subtle {
  color: var(--c-grayscale__light);
}
[data-b-system=dark-mode] .btn:disabled {
  background-color: var(--c-grayscale__900);
  color: var(--c-opacity__light-200);
}

a.action-link {
  color: var(--c-primary__blue);
  display: flex;
  align-items: center;
  line-height: 1.5rem;
}
a.action-link > *:not(:last-child) {
  margin-right: 0.5rem;
}
a.action-link > [class*=icon-] {
  font-size: 1.25rem;
  display: inline-flex;
}

.nav-item.dropdown .dropdown-toggle:after {
  display: none;
}
.nav-item.dropdown .dropdown-menu {
  border: 1px solid #CBCBCB;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  transform: translate(-50%, 0);
  left: 50%;
  padding: var(--s-space__8);
}
.nav-item.dropdown .dropdown-menu .dropdown-item {
  color: var(--c-body__23);
  border-radius: 0.25rem;
  padding-block: var(--s-space__8);
  text-align: left;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:active, .nav-item.dropdown .dropdown-menu .dropdown-item.active {
  background-color: var(--c-grayscale__100);
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--c-grayscale__100);
}

/*
** Tools to crate media queries
*/
.offcanvas.offcanvas-start .offcanvas-header {
  display: flex;
  justify-content: flex-end;
  padding-block: 0.75rem;
  padding-inline: var(--s-space__16);
  min-height: 3rem;
  transition: all 0.35s ease-in-out;
}
@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-start .offcanvas-header {
    min-height: 5.75rem;
    padding-block: 1.375rem;
    padding-inline: var(--s-space__32);
  }
}
.offcanvas.offcanvas-start .offcanvas-body {
  height: calc(100vh - 3rem);
  padding: var(--s-space__32);
  display: grid;
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav {
  margin: auto 0;
  height: min-content;
  transform: translateY(-3rem);
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: var(--c-body__off);
  padding-block: var(--s-space__8);
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu {
  position: relative !important;
  transform: none !important;
  box-shadow: none;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu.header-menu {
  width: auto;
  min-width: auto;
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu.header-menu .header-menu-wrapper {
  display: initial;
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu.header-menu .header-menu-wrapper .menu-list .list-title {
  margin-bottom: 0;
  margin-block: var(--s-space__8);
  padding-inline: 0;
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  padding-left: 0;
  padding-right: 0;
  transition: padding-left 0.25s ease;
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active {
  background-color: var(--c-grayscale__100);
  padding-left: var(--s-space__16);
}
.offcanvas.offcanvas-start .offcanvas-body .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: var(--s-space__16);
}

header {
  padding-block: 0.75rem;
  padding-inline: var(--s-space__16);
  min-height: 3rem;
  transition: all 0.35s ease-in-out, width 0s;
}
@media screen and (min-width: 992px) {
  header {
    min-height: 5.75rem;
    padding-block: 1.375rem;
    padding-inline: var(--s-space__32);
  }
  header.header-narrow {
    padding-block: 1rem;
    min-height: 4.5rem;
  }
}
header.header-light, header.header-transparent {
  background-color: var(--c-grayscale__light);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 992px) {
  header.header-transparent {
    background-color: transparent;
    box-shadow: none;
  }
}
header.header-transparent nav.navbar .navbar-nav .nav-item > a {
  color: var(--c-grayscale__light);
  text-align: center;
}
header.header-transparent nav.navbar .navbar-nav .nav-item > a.active {
  color: var(--c-grayscale__light);
}
header.header-transparent nav.navbar .navbar-nav .nav-item:hover a:not(.active):not(.disabled) {
  color: var(--c-body__30);
}
header.header-fixed {
  z-index: 100;
  position: fixed;
  width: 100vw;
  top: 0;
}
header nav.navbar {
  padding: 0;
}
header nav.navbar .purchase-button-wrapper {
  order: 1;
}
@media screen and (min-width: 992px) {
  header nav.navbar .purchase-button-wrapper {
    order: 4;
  }
}
header nav.navbar .header__logo {
  order: 2;
}
@media screen and (min-width: 992px) {
  header nav.navbar .header__logo {
    order: 1;
  }
}
header nav.navbar .navigation-toggle {
  order: 3;
  display: block;
}
@media screen and (min-width: 992px) {
  header nav.navbar .navigation-toggle {
    display: none;
  }
}
header nav.navbar .navbar-nav {
  display: none;
  padding-block: 2rem;
}
@media screen and (min-width: 992px) {
  header nav.navbar .navbar-nav {
    order: 3;
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    padding-block: 0;
  }
  header nav.navbar .navbar-nav > *:not(:last-child) {
    margin-right: 2rem;
  }
}
header nav.navbar .navbar-nav .nav-item > a {
  color: var(--c-body__30);
  text-align: center;
}
header nav.navbar .navbar-nav .nav-item > a.active {
  color: var(--c-body__off);
}
header nav.navbar .navbar-nav .nav-item:hover a:not(.active):not(.disabled) {
  color: var(--c-body__off);
}
@media screen and (min-width: 992px) {
  header nav.navbar.navbar-right .navbar-nav {
    justify-content: flex-end;
    margin-right: var(--s-space__32);
  }
}
@media screen and (min-width: 992px) {
  header nav.navbar.navbar-center .navbar-nav {
    justify-content: center;
  }
}
header .dropdown-menu.header-menu {
  max-width: 31.25rem;
}
header .dropdown-menu.header-menu .header-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  max-width: 35vw;
}
header .dropdown-menu.header-menu .header-menu-wrapper .menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 9.375rem;
}
header .dropdown-menu.header-menu .header-menu-wrapper .menu-list > *:not(:last-child) {
  margin-bottom: 0.25rem;
}
header .dropdown-menu.header-menu .header-menu-wrapper .menu-list .list-title {
  padding-block: var(--s-space__8);
  padding-inline: var(--s-space__16);
  margin-bottom: var(--s-space__16);
  font-size: var(--fs-sm);
}

.marquee.carousel .carousel-control-prev, .marquee.carousel .carousel-control-next {
  opacity: 1;
}
.marquee.carousel .carousel-control-prev-wrapper, .marquee.carousel .carousel-control-next-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-opacity__light-100);
  color: var(--c-grayscale__light);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.marquee.carousel .carousel-control-prev-wrapper > span, .marquee.carousel .carousel-control-next-wrapper > span {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.marquee.carousel .carousel-control-prev:hover .carousel-control-next-wrapper,
.marquee.carousel .carousel-control-prev:hover .carousel-control-prev-wrapper, .marquee.carousel .carousel-control-next:hover .carousel-control-next-wrapper,
.marquee.carousel .carousel-control-next:hover .carousel-control-prev-wrapper {
  background-color: var(--c-opacity__light-200);
}
.marquee.carousel .carousel-control-prev {
  justify-content: left;
  padding-left: var(--s-space__24);
}
.marquee.carousel .carousel-control-next {
  justify-content: right;
  padding-right: var(--s-space__24);
}
.marquee.carousel .carousel-control-next-wrapper > span {
  margin-left: 0.125rem;
}
.marquee.carousel .carousel-control-prev-wrapper > span {
  margin-right: 0.125rem;
}
.marquee.carousel .carousel-indicators {
  margin: 0;
  justify-content: left;
  left: var(--s-space__32);
  padding-bottom: 2.1875rem;
}
.marquee.carousel .carousel-indicators > button {
  height: 0.125rem;
  width: 3.125rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.5rem;
}
.marquee.carousel .carousel-indicators > button.active {
  background-color: var(--c-grayscale__light);
}
.marquee.carousel .carousel-inner .carousel-item > img {
  width: 100%;
  object-fit: cover;
}
.marquee.carousel .carousel-inner .carousel-item .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: auto;
}
.marquee.carousel.full-height .carousel-inner .carousel-item > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.footer {
  padding-block: var(--s-space__88);
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .links-wrapper > *:not(:last-child) {
  margin-bottom: 1rem;
}
.footer .links-wrapper:first-of-type {
  margin-bottom: var(--s-space__48);
}
@media screen and (min-width: 768px) {
  .footer .links-wrapper:first-of-type {
    margin-bottom: auto;
  }
}
.footer .links-wrapper .title {
  color: var(--c-body__off);
  margin-bottom: var(--s-space__32);
}
.footer .links-wrapper li:not(.title) {
  color: var(--c-body__23);
  transition: color 0.25s ease;
}
.footer .links-wrapper li:not(.title) > a:hover {
  color: var(--c-primary__blue);
}
.footer.footer-corporate .footer-logo {
  display: block;
  margin-bottom: var(--s-space__24);
}
@media screen and (min-width: 992px) {
  .footer.footer-corporate .footer-logo {
    margin-bottom: var(--s-space__32);
  }
}
.footer.footer-corporate .copy-wrapper {
  margin-bottom: var(--s-space__48);
}
@media screen and (min-width: 768px) {
  .footer.footer-corporate .copy-wrapper {
    margin-bottom: var(--s-space__64);
  }
}
@media screen and (min-width: 992px) {
  .footer.footer-corporate .copy-wrapper {
    margin-bottom: var(--s-space__0);
  }
}
.footer.footer-corporate .copy-wrapper p.copy {
  color: var(--c-body__30);
  margin-bottom: var(--s-space__24);
}
@media screen and (min-width: 992px) {
  .footer.footer-corporate .copy-wrapper p.copy {
    margin-bottom: var(--s-space__32);
    max-width: 16.5625rem;
  }
}
.footer.footer-darkener {
  background-color: var(--c-grayscale__100);
}

[data-b-system=dark-mode] .footer, [data-b-system=dark-mode].footer {
  background-color: var(--c-grayscale__1100);
}
[data-b-system=dark-mode] .footer .links-wrapper .title, [data-b-system=dark-mode].footer .links-wrapper .title {
  color: var(--c-grayscale__light);
}
[data-b-system=dark-mode] .footer .links-wrapper li:not(.title), [data-b-system=dark-mode].footer .links-wrapper li:not(.title) {
  color: var(--c-grayscale__light);
}
[data-b-system=dark-mode] .footer .links-wrapper.footer-corporate .copy-wrapper, [data-b-system=dark-mode].footer .links-wrapper.footer-corporate .copy-wrapper {
  margin-bottom: var(--s-space__48);
}
@media screen and (min-width: 768px) {
  [data-b-system=dark-mode] .footer .links-wrapper.footer-corporate .copy-wrapper, [data-b-system=dark-mode].footer .links-wrapper.footer-corporate .copy-wrapper {
    margin-bottom: var(--s-space__64);
  }
}
@media screen and (min-width: 992px) {
  [data-b-system=dark-mode] .footer .links-wrapper.footer-corporate .copy-wrapper, [data-b-system=dark-mode].footer .links-wrapper.footer-corporate .copy-wrapper {
    margin-bottom: var(--s-space__0);
  }
}
[data-b-system=dark-mode] .footer .links-wrapper.footer-corporate .copy-wrapper p.copy, [data-b-system=dark-mode].footer .links-wrapper.footer-corporate .copy-wrapper p.copy {
  color: var(--c-body__67);
}
[data-b-system=dark-mode] .footer.footer-darkener, [data-b-system=dark-mode].footer.footer-darkener {
  background-color: var(--c-grayscale__1200);
}

/*
 * 1º Common
 * 2º Atoms
 * 3º Molecules
 * 4º Organisms
 */
/*
 * 1º Common
 */
/*
 * 2º Atoms
 */
/*
 * 3º Molecules
 */
/*
 * 4º Organisms
 */

/*# sourceMappingURL=style.css.map */
