<%
/**
 * @required String name
 * @required String job
 * @required {href:String, label:String, icon:String } link
 */

    const props = {
        name: name,
        job: job,
        img: typeof img !== 'undefined' ? img : 'gridcells_component-01.jpg',
        variant: typeof variant !== 'undefined' ? variant : 'basic',
    }

    function validate(props) {
    const cellBasicVariants = ['basic', 'horizontal', 'vertical']

    if (!cellBasicVariants.includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
    }
}
validate(props)

const styles = {
    gridCell: {
        variant: {
            toString: () => ('basic' === props.variant ? '' : `cellbasic-${props.variant}`) 

        }
    }
}
%>

<div class="cellbasic cellbasic-<%- props.variant -%> gridcell-cover" style="background-image: url('<%- `${image}/${props.img}` -%>');">
    <div class="cellbasic-user">
        <p class="body-bold-text text-white mb-0"><%= props.name %></p>
        <p class="text-white mb-0"><%= props.job %></p>
    </div>
</div>