<%
/**
 * @required String title
 * @required String text
 * @required { src:String, alt:String } img
 */

    const props = {
        title: title,
        text: text,
        img: img,
    }
%>

<div class="cellcomponent gridcell overflow-hidden">
    <picture class="gridcell-containter-img">
        <img class="gridcell-img" src="<%- `${image}/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="cellcomponent-info bg-opacity position-absolute w-100 inner-space-block-32 inner-space-inline-32">
        <h4 class="text-white"><%= props.title %></h4>
        <p class="text-white mb-0"><%= props.text %></p>
    </div>
    <div class="cellcomponent-nav-hover d-flex flex-column justify-content-between align-items-end inner-space-block-32 inner-space-inline-32">
        <div class="cellcomponent-icons d-flex column-gap-16">

        </div>
        <i class="icon-dart-next"></i>
        <i class="icon-download"></i>
    </div>
</div>