<%
/**
 * @required String title
 * @required String text
 * @required {href:String, label:String, icon:String } link
 */

    const props = {
        title: title,
        text: text,
        img: typeof img !== 'undefined' ? img : 'gridcells_component-01.jpg',
    }
%>

<div class="cellcomponent gridcell-cover overflow-hidden position-relative" style="background-image: url('<%- `${image}/${props.img}` -%>');">
    <div class="cellcomponent-info bg-opacity position-absolute w-100 inner-space-block-32 inner-space-inline-32">
        <h4 class="text-white"><%= props.title %></h4>
        <p class="text-white mb-0"><%= props.text %></p>
    </div>
</div>