<%
/**
 * @required String title
 * @required String text
 * @required { src:String, alt:String } img
 */

const props = {
    title: title,
    text: text,
    img: img
}
%>

<div class="grid-cell grid-cell-component overflow-hidden">
    <picture class="grid-cell-container-img">
        <img class="grid-cell-img" src="<%- `${image}/grid-cell/${props.img.src}.jpg` -%>" alt="<%- props.img.alt -%>">
    </picture>
    <div class="grid-cell-component-info inner-space-block-32 inner-space-inline-32">
        <div class="info-wrapper">
            <h4 class="text-white"><%= props.title %></h4>
            <p class="text-white mb-0"><%= props.text %></p>
        </div>
    </div>
</div>
