<%
/**
 *
 * @requires [{title, text}] columns
 */
const props = {
    columns
}
%>
<section class="section basic-content basic-content-arguments">
    <div class="container">
        <div class="row align-items-start space-y-32 space-y-sm-40 ">
            <% props.columns.forEach((column)=> { %>
                <div class="col-12 col-md-6 col-lg-4 my-lg-0">
                    <h2 class="col-9"><%- column.title -%></h2>
                    <p class="body-light-gray-text col-9"><%- column.text -%></p>
                </div>
            <% }) %>
        </div>
    </div>
</section>


