<%
/**
 *
 * @requires {string} title
 */
const props = {
    title,
    isPlus: typeof isPlus === 'undefined' ? false : isPlus
}
%>

<section class="section basic-content">
    <div class="container p-0">
        <% if(props.isPlus) { %>
            <h1 class="text-center col-md-8 col-xl-10 col-xxl-8"><%- props.title -%></h1>
        <% } else { %>
            <h2 class="text-center col-md-8 col-xl-10 col-xxl-8"><%- props.title -%></h2>
        <% } %>
    </div>
</section>
