<%
/**
 *
 * @requires {string} title
 */
const props = {
    title,
    isPlus: typeof isPlus === 'undefined' ? false : isPlus
}

const style = {
  text: {
    toString: () => ('text-center mx-auto col-md-8 col-xl-10 col-xxl-8')
  }
}
%>

<div class="module basic-content">
    <div class="container">
        <% if(props.isPlus) { %>
            <h1 class="<%- style.text -%>"><%- props.title -%></h1>
        <% } else { %>
            <h2 class="<%- style.text -%>"><%- props.title -%></h2>
        <% } %>
    </div>
</div>
