<%
const props = {
    title,
    text
}
const style = {
    text: {
        toString: () => ('text-center mx-auto col-md-8 col-xl-10 col-xxl-8')
    }
}
%>

<div class="module basic-content">
    <div class="container">
        <h3 class="<%- style.text -%> space-bottom-24 space-bottom-md-32 space-bottom-lg-40"><%- props.title -%></h3>
        <p class="body-light-gray-text <%- style.text -%>"><%- props.text -%></p>
    </div>
</div>
