<%

const props = {
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null
}

%>

<div class="basic-content basic-content-description d-grid grid-md-8 grid-xl-12 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
    <h3 class="basic-content-title col-span-md-8 col-xl-3-to-11 m-0"><%- props.title -%></h3>
    <p class="basic-content-text col-md-2-to-8 col-xl-3-to-11 body-light-gray-text"><%- props.text -%></p>
</div>