<%
/**
 *
 * @requires {string} title
 * @requires {string} text
 * @requires {string} icon
 * @requires {href,label} link
 */


const props = {
    title,
    text,
    icon,
    link
}

%>

<div class="module basic-content basic-content-half-content">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-6">
                <h1><%- props.title -%></h1>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="basic-content-head-wrapper space-y-16">
                    <span class="space-bottom-16 d-block" style="font-size: 48px;">
                        <%- include(`${component}/icons/icon`, {icon: props.icon }) %>
                    </span>
                    <p class="body-light-gray-text"><%- props.text -%></p>
                </div>

                <%- include(`${component}/links/link`, { icon: 'links', label: props.link.label, href:props.link.href }) %>
            </div>
        </div>
    </div>
</div>

