<%
/**
 * @requires {src,alt} img
 * @requires {string} text
 * @requires {href,label} link
 */


const props = {
    img,
    text,
    link
}

%>

<div class="module basic-content basic-content-image">
    <div class="container">

        <div class="row">
            <picture class="col-12 col-lg-6">
                <img class="basic-content-img w-75" src="<%- `${image}/${props.img.src}` -%>" alt="<%- props.img.alt -%>">
            </picture>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                <div class="basic-content-head-wrapper space-y-24">
                    <p class="body-light-gray-text"><%- props.text -%></p>
                    <%- include(`${component}/links/link`, { icon: 'links', label: props.link.label, href:props.link.href }) %>
                </div>
            </div>
        </div>
    </div>
</div>

