<%

const props = {
    title: typeof title !== 'undefined' ? title : null,
    text: typeof text !== 'undefined' ? text : null,
    variant: typeof variant !== 'undefined' ? variant : 'plus',
}

function validate(props) {
    const VARIANTS = ['plus', 'simple', 'columns', 'left', 'fit']
    if (!VARIANTS.includes(props.variant)) {
        throw new Error(`The variant ${props.variant} doesn't exists`)
    }
}
validate(props)
const styles = {
    basicContent: {
        variant: {
            toString: () => ('plus' === props.variant ? 'basic-content-simple-plus' : `basic-content-simple-${props.variant}`)
        }
    }
}

%>

<div class="basic-content basic-content-simple <%- styles.basicContent.variant -%> d-grid grid-md-8 grid-xl-12 gap-24 gap-md-16 gap-xl-32 inner-space-block-48 inner-space-block-md-56 inner-space-block-xl-88">
    <h1 class="basic-content-title m-0"><%- props.title -%></h1>
    <% if(props.variant !== 'plus') { %>
        <p class="basic-content-text body-light-gray-text"><%- props.text -%></p>
    <% } %>
</div>