<% 

const props = {
    icon: typeof icon !== 'undefined' ? icon : null,
    text: typeof text !== 'undefined' ? text : null,
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : null,
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : 'links',
}

%>

<div class="bg-card padding-card  icon-description-card interaction-card space-y-16">
    <%- include(`${component}/icons/icon`, {icon: props.icon}) %>
    <p class="body-light-gray-text"><%- props.text -%></p>
    <% if(props.labelLink) { %>
        <%- include( `${component}/links/link`, {
            href: props.hrefCard,
            label: props.labelLink,
            icon: props.iconLink,
        } ) %>
    <% } %>
</div>