<% 

const props = {
    textHeader: typeof textHeader !== 'undefined' ? textHeader : null,
    titleProject: typeof titleProject !== 'undefined' ? titleProject : null,
    hrefCard: typeof hrefCard !== 'undefined' ? hrefCard : null,
    labelLink: typeof labelLink !== 'undefined' ? labelLink : null,
    iconLink: typeof iconLink !== 'undefined' ? iconLink : 'links',
}

%>

<div class="row">
    <div class="col-4 bg-card header-card d-flex align-items-center justify-content-center">
        <p class="fw-bold header-text"><%- props.textHeader -%></p>
    </div>
    <div class="col-8 bg-card padding-card d-flex align-items-center">
        <div class="space-y-16">
            <h3><%- props.titleProject -%></h3>
            <% if(props.labelLink) { %>
                <%- include( `${component}/links/link`, {
                    href: props.hrefCard,
                    label: props.labelLink,
                    icon: props.iconLink,
                } ) %>
            <% } %>
        </div>
        <div class="nav-card">
           
        </div>
    </div>
</div>