<% 
/**
 * @required { href:String, label:String, icon:String } link
*/

const props = {
    header: typeof header !== 'undefined' ? header : null,
    title: typeof title !== 'undefined' ? title : null,
    link: link
}

%>

<div class="card card-bg d-grid grid-3 gap-0 project-card w-100 h-100 inner-space-inline-24">
    <div class="col-1-to-4 col-md-1-to-2 header-card d-flex align-items-center justify-content-center">
        <p class="header-text fw-bold text-md-center w-100"><%- props.header -%></p>
    </div>
    <div class="col-1-to-4 col-md-2-to-4 project-info d-flex align-items-center inner-space-block-md-24 inner-space-bottom-24 inner-space-left-md-72 inner-space-left-xl-32 inner-space-left-xxl-72 inner-space-right-md-32">
        <div class="space-y-16 inner-space-right-md-32 inner-space-right-xxl-72">
            <h3><%- props.title -%></h3>
            <% if(props.link.label) { %>
                <%- include( `${component}/links/link`, {
                    href: props.link.href,
                    label: props.link.label,
                    icon: props.link.icon,
                } ) %>
            <% } %>
        </div>
    </div>
</div>