<% 

const props = {
    titleContact: typeof titleContact !== 'undefined' ? titleContact : null,
    iconClose: typeof iconClose !== 'undefined' ? iconClose : null,
    hrefChat: typeof hrefChat !== 'undefined' ? hrefChat : '#',
    labelChat: typeof labelChat !== 'undefined' ? labelChat : null,
    iconChat: typeof iconChat !== 'undefined' ? iconChat : null,
    hrefPhone: typeof hrefPhone !== 'undefined' ? hrefPhone : '#',
    labelPhone: typeof labelPhone !== 'undefined' ? labelPhone : null,
    iconPhone: typeof iconPhone !== 'undefined' ? iconPhone : null,
}

%>

<div class="bg-card contact-card space-y-24 inner-space-top-24 inner-space-bottom-24 inner-space-left-24 inner-space-right-24">
    <div class="d-flex justify-content-between align-items-center">
        <p class="body-dark-gray-text fw-bold"><%- props.titleContact -%></p>
        <%- include(`${component}/icons/icon`, {icon: props.iconClose}) %>
    </div>
    <span class="border-bottom d-block"></span>
    <%- include( `${component}/links/link`, {
        href: props.hrefChat,
        label: props.labelChat,
        icon: props.iconChat,
    } ) %>
    <span class="border-bottom d-block"></span>
    <%- include( `${component}/links/link`, {
        href: props.hrefPhone,
        label: props.labelPhone,
        icon: props.iconPhone,
    } ) %>
</div>