<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!-- GRID CELLS -->

<!-- SECTION LIGHT -->

<section class="section">
    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">GRID CELLS</h3>
        
    </div>
</section>