<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<!-- GRID CELLS -->

<!-- SECTION LIGHT -->

<section class="section">
    <div class="container">

        <h3 class="space-bottom-48 space-bottom-md-56 space-bottom-lg-88">Grid Cells</h3>
        
        <div class="d-grid grid-4 grid-sm-8 grid-xl-12 column-gap-24 row-gap-48 space-bottom-48">
            <div class="col-1-to-5">
                <span class="body-light-gray-text">
                    Grid cell basic
                </span>
            </div>
        </div>
    </div>
</section>