<%
/**
 * @required {array} items
 */
const props = {
    items: items,
    align: typeof align !== 'undefined' ? align : 'center'
}

function validate(props) {
    if (false === ['center', 'right', 'left'].includes(props.align)) {
        throw new Error(`The align ${props.align} doesn't exists`)
    }
}

validate(props)

const data = {
    align: {
        toString: () => {
            switch (props.align) {
                case 'center':
                    return 'justify-content-center-safe'
                case 'right':
                    return 'justify-content-right-safe'
                case 'left':
                    return 'justify-content-left-safe'
            }
        }
    }
}
%>

<nav class="bs-categories-menu-wrapper">
    <ul class="nav nav-tabs bs-categories-menu flex-nowrap <%- data.align %>" role="tablist">
        <% props.items.forEach(item => { %>
            <%- include(`${component}/categoriesMenu/categoriesMenuItem`, { ...item }) %>
        <% }) %>
    </ul>
</nav>
