<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<section class="section">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Illustrations</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">

                Illustrations

                <span class="label">
                    Illustrations
                </span>
            </div>

        </div>
    </div>
</section>


<section class="section" data-bsystem="dark">
    <div class="container">
        <header>
            <h3 class="space-bottom:88">Illustrations dark</h3>
        </header>
        <div class="d-flex flex-wrap space-xy:24 xl:space-xy:48">

            <div class="d-flex flex-column gap-2">

                Illustrations

                <span class="label">
                    Illustrations
                </span>
            </div>

        </div>
    </div>
</section>
