<%
const stickyBannerCompleted = {
    darkModeSwitch: {id: 'dark-mode-switch', label: 'Dark mode', labelCss: 'body-bold-text text-dark-mode'},
    filtersIcon: {icon: 'filters', size: 20},
    editIcon: {icon: 'edit', size: 20},
    purchaseLink: {href: '#', label: 'Purchase B_system'}
}
%>

<div id="sticky-banner"
     class="d-none d-xl-block card card-sticky card-bg space-y-24 inner-space-block-24 inner-space-inline-24 position-fixed">
    <%- include(`${component}/interaction/switch`, stickyBannerCompleted.darkModeSwitch) %>
    <hr class="border-bottom d-block m-0 space-bottom-24">
    <div class="d-inline-flex align-items-center space-x-8 space-bottom-16">
        <%- include(`${component}/icons/icon`, stickyBannerCompleted.filtersIcon ) %>
        <span>+ 150 pages</span>
    </div>
    <div class="d-inline-flex align-items-center space-x-8">
        <%- include(`${component}/icons/icon`, stickyBannerCompleted.editIcon ) %>
        <span>+ 300 components</span>
    </div>
    <hr class="border-bottom d-block m-0 space-bottom-24">
    <%- include( `${component}/links/link`, stickyBannerCompleted.purchaseLink) %>
</div>