<%
/**
 * @required { name:String, text:String, img:{src:String, alt:String} } slide
 */
const props = {
    slide
}
const styles = {
    background: {
        toString: () => {
            return props.background ? `bg-${props.background}` : ''
        }
    }
}
%>

<div class="darkened" style="height: 100%">
    <%- include( `${component}/card/business`, {
        title: slide.title,
        icon: slide.icon,
        subtitle: slide.subtitle,
        img: {
            src: slide.img.src,
            alt: slide.img.alt
        },
        date: slide.date,
        link: {
            href: slide.link.href,
            label: slide.link.label,
            icon: slide.link.icon
        }
    } ) %>
</div>


