<%
/**
 * @required { name:String, text:String, img:{src:String, alt:String} } slide
 */
const props = {
    slide
}
const styles = {
    background: {
        toString: () => {
            return props.background ? `bg-${props.background}` : ''
        }
    }
}
%>

<div class="darkened" style="height: 100%">
    <%- include( `${component}/card/business`, {
        titleBusiness: slide.name,
        icon: 'star',
        subtitle: slide.text,
        logo: slide.logo.src,
        logoAlt: slide.logo.alt,
        date: slide.date,
        hrefCard: slide.link.href,
        labelLink: slide.link.label,
        iconLink: slide.link.icon
    } ) %>
</div>


