<%
const VARIANTS_ENUM = {
    DARKENER: 'darkener',
    DEFAULT: 'default'
}

const props = {
    variant: typeof variant !== 'undefined' ? variant : 'default',
    isDark: typeof isDark !== 'undefined' ? isDark : false
}

function validate(props) {
    if (!Object.values(VARIANTS_ENUM)
            .includes(props.variant)) {
        throw new Error(`The variant ${props.variant} isn't allowed`)
    }
}

validate(props)

const styles = {
  footer: {
    variant: {
      toString:()=>{
        return `footer-${props.variant}`
      }
    }
  }
}

const attrs = {
    footer: {
        dark: {
            toString: () => {
                return props.isDark ? 'data-bsystem="dark"' : ''
            }
        }
    }
}
%>
<footer class="footer footer-basic <%- styles.footer.variant -%>" <%- attrs.footer.dark -%>>
    <div class="footer-wrapper container">
        <div class="row">
            <a class="footer-logo col-12 col-lg-3" href="<%= QUICK_START.HOME %>">
                <img src="<%= image %>/logo-dark.svg" class="logo" alt="b system logo" />
            </a>
            <p class="copy col-12 col-lg-8 offset-lg-1">
                .Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio
            </p>
        </div>
    </div>
</footer>
