<%

    const props = {
      variant: typeof variant !== 'undefined' ? `footer-${variant}` : '',
      isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    function validate(props) {
      if(props.variant && !['darkener'].includes(props.variant.replace('footer-',''))) {
        throw new Error(`The variant ${props.variant.replace('footer-','')} isn't allowed`)
      }
    }

    validate(props)

%>
<footer
        class="footer footer-basic <%=props.variant%>"
        <% if(props.isDark) {%>
            data-b-system="dark-mode"
        <%}%>
>
    <div class="footer-wrapper container">
        <div class="row">
            <a class="footer-logo col-12 col-lg-3" href="<%=QUICK_START.HOME%>">
                <img src="<%=image%>/logo-dark.svg" class="logo" alt="b system logo" />
            </a>
            <p class="copy col-12 col-lg-8 offset-lg-1">
                Multipurpose HTML5 template + Organic Design System. © 2022 B_system. All rights reserved. Customer Service: info@iteratika.studio
            </p>
        </div>
    </div>
</footer>
