<footer class="footer footer-corporate <% if(typeof variant !== 'undefined') {%><%=variant%><%}%>"
        <% if(typeof darkMode !== 'undefined' && darkMode) {%>
            data-bsystem="dark"
        <%}%>
>
    <div class="footer-wrapper container ">
        <div class="row">
            <div class="copy-wrapper col-12 col-lg-3">
                <a class="footer-logo" href="<%=QUICK_START.HOME%>">
                    <img src="<%=image%>/logo-dark.svg" class="logo" alt="b system logo"/>
                </a>
                <p class="copy">
                    Multipurpose HTML5 template + Organic Design System. © 2021 B_system. All rights reserved.
                </p>
                <div class="contact-email">
                    <a class="action-link contact-link" href="mailto:cuenta@deemail.com">
                        <span class="contact-icon icon-message"></span>
                        <span>info@itertika.studio</span>
                    </a>
                </div>
            </div>
            <ul class="links-wrapper col-6 col-md-3 col-lg-2 offset-lg-1">
                <li class="title">Company</li>
                <li><a href="">B_system</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Our services</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
            <ul class="links-wrapper col-6 col-md-3 col-lg-2 ">
                <li class="title">Blog</li>
                <li><a href="">Home</a></li>
                <li><a href="">Most read</a></li>
                <li><a href="">Latest articles</a></li>
                <li><a href="">Articles</a></li>
            </ul>
            <ul class="links-wrapper col-6 col-md-3 col-lg-2 ">
                <li class="title">Shop</li>
                <li><a href="">Home</a></li>
                <li><a href="">What's new?</a></li>
                <li><a href="">Offers</a></li>
                <li><a href="">Product</a></li>
            </ul>
            <ul class="links-wrapper col-6 col-md-3 col-lg-2 ">
                <li class="title">Feature demos</li>
                <li><a href="">Startup</a></li>
                <li><a href="">Agency</a></li>
                <li><a href="">Corporate</a></li>
                <li><a href="">Studio</a></li>
            </ul>
        </div>
    </div>
</footer>
