<%
/**
 * @requires {string} text
 *
 */
const props = {
    text: text
}
function validate(props) {
    if ('string' !== typeof props.text) {
        throw new Error('Text must be a string')
    }
}
validate(props)
%>
<h3 class="inner-space-block-48 inner-space-block-lg-88"><%- props.text -%></h3>
