<%

const props = {
    img: typeof img !== 'undefined' ? img : null,
    imgAlt: typeof imgAlt !== 'undefined' ? imgAlt : null,
    name: typeof name !== 'undefined' ? name : null,
    price: typeof price !== 'undefined' ? price : null,
    background: typeof background !== 'undefined' ? background : null,
}

%>

<div >
    <img src="" alt="<%= props.imgAlt %>">
    <div class="info-product">
        <h5><%= props.name %></h5>
        <p class="body-light-gray-text"><%= props.price %></p>
    </div>
</div>

