<%

    const props = {
        cards: typeof cards !== 'undefined' ? cards : [] 
    }

%>

    <section class="section row p-0 mx-0 w-100">
        <% props.cards.forEach((card)=> { %>
            <div class="col-12 col-xl-6 px-0">
                <%- include( `${component}/card/service`, {
                    titleService: card.title,
                    text: card.text,
                    textTag: card.tag,
                    img: `/service-grid/${card.img}.jpg`,
                    imgAlt: card.alt,
                    hrefCard: card.href,
                    labelLink: card.label,
                    iconLink: card.icon
                } ) %>
            </div>
        <% }) %> 
    </section>