<%

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        cards: typeof cards !== 'undefined' ? cards : [],
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        serviceGrid: {
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            }
        }
    }

%>

<div class="module row p-0 mx-0 w-100" id="<%- props.id -%>" <%- styles.serviceGrid.dark -%>>
    <% props.cards.forEach((card)=> { %>
        <div class="service-grid col-12 col-xl-6 px-0">
            <%- include( `${component}/card/service`, {
                titleService: card.title,
                text: card.text,
                tag: card.tag,
                iconTag: card.iconTag,
                img: {
                    src: `service-grid/${card.img.src}`,
                    alt: card.img.alt,
                },
                link: {
                    href: card.link.href,
                    label: card.link.label,
                    icon: card.link.icon
                },
                contentPosition: card.contentPosition
            } ) %>
        </div>
    <% }) %> 
</div>