<%
    const props = {
        title: typeof title !== 'undefined' ? title : null,
        cards: typeof cards !== 'undefined' ? cards : [],
        isDarkened: typeof isDarkened !== 'undefined' ? isDarkened : false,
        isDark: typeof isDark !== 'undefined' ? isDark : false
    }

    const styles = {
        featuredContent: {
            darkened: {
                toString: () => (props.isDarkened ? 'darkened' : '')
            },
            dark: {
            toString: () => (props.isDark ? 'data-bsystem="dark"' : '')
            }
        }
    }
%>

<section class="section section-divider <%- styles.featuredContent.darkened -%>" <%- styles.featuredContent.dark -%>>
    <div class="featured-content container">
        <h3 class="featured-content-title text-center space-bottom-48 space-bottom-md-56 space-bottom-xl-72"><%- props.title -%></h3>
        <div class="featured-content-content row">
            <% props.cards.forEach((card)=> { %>
                <div class="col-12 col-md-6 col-xl-4">
                    <%- include( `${component}/card/feature`, {
                        feature: {
                            src: card.feature.src,
                            size: card.feature.size,
                            alt: card.feature.alt
                        },
                        background: {
                            type: card.background.type,
                            color: card.background.color,
                        },
                        title: card.title,
                        text: card.text,
                        link:{
                            href: card.link.href,
                            label: card.link.label,
                            icon: card.link.icon
                        },
                    } ) %>
                </div>
            <% }) %>
        </div>
    </div>
</section>