<%

    const props = {
        id: typeof id !== 'undefined' ? id : null,
        teamGrid: teamGrid,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        team: {
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="module <%- styles.team.border -%> team-grid d-grid p-0" id="<%- props.id -%>">
    <% props.teamGrid.forEach((user)=> { %>
        <div class="team-grid-<%- user.onGrid -%>">
            <%- include(`${component}/gridCell/basic`, {
                name: user.name,
                job: user.job,
                img: {
                    src: user.img.src, 
                    alt: user.img.alt
                },
                social: ['twitter', 'behance', 'linkedin'],
                link: {
                    href: user.link.href,
                    label: user.link.label,
                    icon: user.link.icon,
                },
                shape: user.shape
            }) %>
        </div>
    <% }) %>
</div>