<%

    const props = {
        gridCells: gridCells,
    }

%>

    <section class="section section-divider px-0">
        <% props.gridCells.forEach((gridCell)=> { %>
            <%- include(`${component}/gridCell/basic`, {
                name: gridCell.name,
                job: gridCell.job,
                img: {src: gridCell.img.src, alt: gridCell.img.alt},
                social: ['twitter', 'behance', 'linkedin'],
                link: {
                href: gridCell.link.href,
                label: gridCell.link.label,
                icon: gridCell.link.icon,
                },
            }) %>
        <% }) %>
    </section>