<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('header') %>
<%
const headerConfig = {
    items: navigation,
    justify: 'right',
    size: 'full',
    isSticky: true,
    hasBackground: false,
    buttons: [
        {
            label: 'Purchase B_system',
            mobileIcon: 'cart'
        }
    ]
}
%>
<%- include(`${component}/header/header`, { ...headerConfig }) %>

<div class="main-content main-content-space-top">
    <section>
        <%- include(`${component}/marquee/image`, { 
            img: {
                src: 'marquee_image-01',
                alt: 'Marquee image'
            },
            title: 'Enhance your competitive agility',
            text: 'Competitive advantage is redefined every day. We help our clients to improve their business results by taking advantage of disruption.',
            btn: {
                label: 'Discover B_system'
            },
            backgroundColor: 'success',
            isDarkened: false
        }) %>
    </section>
</div>