<%- include(`${view}/quick_start/layout`) %>

<%- contentFor('body') %>

<div class="main-content main-content-space-top">
    <section>
        <%- include(`${component}/marquee/image`, { 
            img: {
                src: 'marquee_image-01',
                alt: 'Marquee image'
            },
            title: 'Enhance your competitive agility',
            text: 'Competitive advantage is redefined every day. We help our clients to improve their business results by taking advantage of disruption.',
            btn: {
                label: 'Discover B_system'
            },
            backgroundColor: 'success',
            isDarkened: false
        }) %>
    </section>
</div>