<%
const props = {
    items,
}
%>

<div class="portfolio portfolio-deconstructed module container">
    <% props.items.forEach((item, index) => { %>
        <%- include( `${component}/portfolio/decomposed`, {item, index: index + 1}) %>
    <% }) %>
</div>