<%
const props = {
    id: typeof id !== 'undefined' ? id : null,
    items,
    hasBorder
}

const styles = {
        portfolioGrid: {
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="module <%- styles.portfolioGrid.border -%> pb-0" id="<%- props.id -%>">
    <div class="portfolio portfolio-deconstructed  container p-0">
        <% props.items.forEach((item, index) => { %>
            <%- include( `${component}/portfolio/decomposed`, {item, index: index + 1}) %>
        <% }) %>
    </div>
</div>