<%
    const props = {
        grid,
        haveBorder
    }

    const styles = {
        portfolioGrid: {
            border: {
            toString: () => (props.haveBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="module <%- styles.portfolioGrid.border -%> d-grid grid-1 grid-xl-2 gap-0 px-0">
    <% props.grid.forEach((project)=> { %>
        <%- include( `${component}/portfolio/portfolio`, {
            img: {
                src: project.img.src,
                alt: project.img.alt
            },
            tag: project.tag,
            title: project.title,
            text: project.text,
            link: {
                href: project.link.href,
                label: project.link.label,
                icon: project.link.icon
            },
            shape: project.shape,
            contentPosition: project.contentPosition
        } ) %>
    <% }) %>
</div>