<%
    const props = {
        grid
    }
%>

<div class="module d-grid grid-1 grid-xl-2 gap-0 p-0">
    <% props.grid.forEach((project)=> { %>
        <%- include( `${component}/portfolio/portfolio`, {
            img: {
                src: project.img.src,
                alt: project.img.alt
            },
            tag: project.tag,
            title: project.title,
            text: project.text,
            link: {
                href: project.href,
                label: project.label,
                icon: project.icon
            },
            shape: project.shape,
            contentPosition: project.contentPosition
        } ) %>
    <% }) %>
</div>