<%
/**
 * @required { src:String, alt:String } img
 */

    const props = {
        item,
        index
    }


%>

<div class="item-wrapper item-<%-props.index-%>">
    <picture>
        <img src="" alt="">
    </picture>
    <div class="item-info">
        <!-- TODO: Sustituir por props.item.title  -->
        <span class="item-title">Item <%-props.index-%></span>
        <span class="item-subtitle">subtitle</span>
    </div>
</div>