<%
    const props = {
        id: typeof id !== 'undefined' ? id : null,
        basicGrid: typeof basicGrid !== 'undefined' ? basicGrid : [],
        contentPosition: typeof contentPosition !== 'undefined' ? contentPosition : 'right',
        isDark: typeof isDark !== 'undefined' ? isDark : false,
        hasBorder: typeof hasBorder !== 'undefined' ? hasBorder : false
    }

    const styles = {
        basicGrid: {
            dark: {
            toString: () => (props.isDark ? 'data-b-system-theme="dark"' : '')
            },
            border: {
            toString: () => (props.hasBorder ? 'section-divider' : '')
            }
        }
    }
%>

<div class="basic-grid module p-0 <%- styles.basicGrid.border -%>" id="<%- props.id -%>" <%- styles.basicGrid.dark -%>>
    <% props.basicGrid.forEach((card)=> { %>
        <%- include( `${component}/basicGrid/basicGrid`, {
            pretitle: card.pretitle,
            title: card.title,
            text: card.text,
            link: {
                href: card.link.href,
                label: card.link.label,
                icon: card.link.icon
            },
            img: {
                src: card.img.src,
                alt: card.img.alt
            },
            contentPosition: card.contentPosition
        } ) %>
    <% }) %>
</div>